/* Custom css styles for Ambi layout will go here */
body{
	background: #e9ebee;
}
/* Common body styles */
.body-container .sub-container{
	min-height: calc(100vh - 82px);
    background: #e9ebee;
}

/* Popup styles */
.modalPopup.modalPopup{
	border-radius: 0;
	padding: 0;
	background: none;
}

.modalPopup .closeButton--jss-0-1{
	top: -20px;
	right: -21px;
	left: auto;
	cursor: pointer;
	z-index: 1;
}

.errorMsg{
	color: #F44336;
    font-size: 0.8em;
    float: left;
    margin-top: 5px;
}

.invite-people #react-autowhatever-1{
	width: 100%;
	float: left;
	position: absolute;
	top: auto;
	left: auto;
	overflow-y: scroll;
	z-index: 9999;
	background: #ffffff;
	border: 1px solid #dddddd;
}

.invite-people .suggestion-item{
	overflow: hidden;
}

.invite-people .suggestion-item .suggestion-img{
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

.invite-people .suggestion-item span{
	float: left;
	font-size: 0.9em;
	text-transform: capitalize;
	margin: 5px 0 0 0 ;
}


/* -Calender Custom Styles*/

.calender-body .invite-people #react-autowhatever-1 {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: auto;
}
.calender-container .calender-body .col-sm-9 .calender-view .rc-time-picker {
  margin-top: 6px;
}

.calender-container .calender-body .col-sm-9 .calender-view .calender-input .input {
  height: auto;
  color: #000000;
  font-size: 14px;
  overflow: visible;
}

.calender-body .shared-users-time-panel .panel {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  display: none;
}

.calender-body .shared-users-time-panel .panel.active {
    display: block;
    border: none;
    width: 50%;
    border-radius: 0;
    box-shadow: none;
}

.calender-body .shared-users-time-panel .panel input {
  border: 0px;
  border-bottom: 2px solid #ddd;
  outline: none;
  padding: 6px 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* - ReactAutoSuggest Custom Styles*/
.search-holder .react-autosuggest__suggestions-container{
	z-index: 1;
}
.search-holder #react-autowhatever-1{
	max-height: 335px;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 48px;
	width: 100%;
}
.search-holder #react-autowhatever-1 a:hover{
	text-decoration: none;
}
.search-holder #react-autowhatever-1 .suggestion{
	overflow: hidden;
	position: relative;
}
.search-holder #react-autowhatever-1 .suggestion .img-holder{
	width: 30px;
	height: 30px;
	margin-right: 15px;
	float: left;
}
.search-holder #react-autowhatever-1 .suggestion span{
	float: left;
	margin-top: 8px;
	line-height: 1;
	text-transform: capitalize;
	font: 12px 'montserratregular', sans-serif;
	color: #2d5164;
}

/** auto sugession list view **/
.user-label{
    color: #767676;
    font-size: 14px;
    margin-right: 10px;
}
.selected-users{
    color: #00a6ef;
    font-size: 14px;
    font-weight:normal;
    margin-right: 10px;
}
.selected-users .fa{
    margin-left: 3px;
    font-size: 11px;
}

/* Dashboard time */
.timeA {
	font-size: 0.17em;
	text-transform: uppercase;
	font-weight: 500;
	margin-left: 0;
}


.calender-container .calender-body .col-sm-9 .calender-view .calender-input {
  overflow: visible !important;
}

/* Day event suggestions styles. */
.day-view-text-editor-holder {
  position: relative;
}

.day-view-text-editor.day-view-editor-copy {
  /*border: 1px solid red;*/
  /*margin-bottom: -62px;*/
    position: relative;
    opacity: 1;
    z-index: 0;
}

.day-view-text-editor {
  border : 0px;
  width: 100%;
  padding: 30px 70px;
    overflow: hidden;
    font-size: 0.875em;
    font-weight: 400;
    color: #bebfbf;
    outline: none;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.day-view-text-editor .custom-editor-field-suggestion {
  color: #00a6ef;
}

.day-view-text-editor-holder .suggestions-holder {
  position: absolute;
  top: 70px;
  left: 30px;
  z-index: 999;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 10px #eeeeee;
  -moz-box-shadow: 0 0 10px 10px #eeeeee;
  -o-box-shadow: 0 0 10px 10px #eeeeee;
    box-shadow: 0 0 3px 2px #eeeeee;
    -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.day-view-text-editor-holder .suggestions-holder li {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
  overflow: hidden;
  min-width: 200px;
    line-height: 10px;
    cursor: pointer;
}

.day-view-text-editor-holder .suggestions-holder .img-div {
  font-size: 0px;
  line-height: 0px;
  width: 20px;
  margin-right: 5px;
  float: left;
}

.day-view-text-editor-holder .suggestions-holder .img-div img {
  width: 100%
}

.day-view-text-editor-holder .suggestions-holder li p {
  margin: 5px 0px 0px 0px;
}

.calender-container .calender-body .col-sm-9 .calender-view .input-menu .items-wrapper .menu-ico p button {

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
    border: 0px;
    background: none;
}

.calender-container .calender-body .col-sm-9 .calender-view .list-unstyled li .edit-icon {
	color: #ddd;
	font-size: 15px;
	margin-right: 10px;
	opacity: 0;
	cursor: pointer;
}

.calender-container .calender-body .col-sm-9 .calender-view .list-unstyled li:hover .edit-icon {
	opacity: 1;
}

.calender-container .calender-body .col-sm-9 .calender-view .to-do-list-area-content-list li .edit-icon {
	line-height: 41px;
	color: #dddddd;
}

/* calender pop-over */
div.rc-time-picker-panel {
	z-index: 9999;
}
a.rc-time-picker-panel-clear-btn {
	display: none;
}

.week-view-editor-popup-holder {
	overflow: visible;
}

#calendar-popover-typo {
	z-index: 9999;
}

#calendar-popover-typo .menu-ico {
  display: inline-block;
}

#calendar-popover-typo .menu-ico p {
  margin: 0px;
}

#calendar-popover-typo .menu-ico span {
  cursor: pointer;
  padding: 5px 10px;
  display: inline-block;
}

#calendar-popover-typo .menu-ico span.italic {
  font-style: italic;
}

#calendar-popover-typo .menu-ico span.bold {
  font-weight: bold;
}

#calendar-popover-typo .menu-ico span.underline {
  text-decoration: underline;
}

#calendar-popover-typo .menu-ico span:hover {
  background: #E3F2FF;
}

/* Folder */
.folder-item .upload-anime{
  margin: 20px 0 0;
  z-index: 1;
  text-align: center;
}

.folder-item .upload-anime .fa{
  font-size: 2em;
  color: #000;
}

.folder-item .item-type{
  background-image: url(../images/folder/types/common-type.png);
}

.shared-user .shared-privacy .pending{
  font-size: 0.8em;
}

.folder .folder-wrapper{
  border: 1px solid transparent;
}

.share-popover-contained .arrow {
    top: 130px !important;
}

/* Footer on collapse */
.body-container.sub-page{
	padding-bottom: 100px;
}

.body-container.nav-hidden{
	padding: 0;
}

.settings-icon{
	transition: all 0.5s ease;
}

.settings-icon.slideUp{
	bottom: 130px;
}

footer.navHidden{
	width: 132px;
    height: 99px;
}

footer .nav-holder,
footer .work-mode-holder{
	opacity: 1;
	transition: opacity 0.3s;
}

footer .nav-holder.fadeOut,
footer .work-mode-holder.fadeOut{
	opacity: 0;
}

footer .notification-alert-holder.slideOut{
	position: fixed;
	left: 20px;
}


@media (max-width: 1024px) {
	.body-container.nav-hidden{
		padding-bottom: 100px;
	}
}
