/* Custom css styles for Ambi layout will go here */
.modalPopup.modalPopup{
	border-radius: 0;
	padding: 0;
	background: none;
}

.modalPopup .closeButton--jss-0-1{
	top: -20px;
	right: -21px;
	left: auto;
	cursor: pointer;
}

.errorMsg{
	color: #F44336;
    font-size: 0.8em;
    float: left;
    margin-top: 5px;
}

/* - ReactAutoSuggest Custom Styles*/
.search-holder .react-autosuggest__suggestions-container{
	z-index: 1;
}
.search-holder #react-autowhatever-1{
	max-height: 335px;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 48px;
	width: 100%;
}
.search-holder #react-autowhatever-1 a:hover{
	text-decoration: none;
}
.search-holder #react-autowhatever-1 .suggestion{
	overflow: hidden;
	position: relative;
}
.search-holder #react-autowhatever-1 .suggestion .img-holder{
	width: 30px;
	height: 30px;
	margin-right: 15px;
	float: left;
}
.search-holder #react-autowhatever-1 .suggestion span{
	float: left;
	margin-top: 8px;
	line-height: 1;
	text-transform: capitalize;
	font: 12px 'montserratregular', sans-serif;
	color: #2d5164;
}

.timeA {
	font-size: 0.17em;
	text-transform: uppercase;
	font-weight: 500;
	margin-left: 0px;
}